
.class1 {
    background: url("image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.trans-background {
    background: transparent;
}

.border {
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.gray-background {
    background-color: rgba(0, 0, 0, 0.19);
    color: white;
}
